.ul{
    display: flex;
    text-decoration: none;
    margin: 5px;
    display: flex;
    justify-content: end;
    align-items: center;

}
.li{
    text-decoration: none;
    margin-left: 40px;
    list-style: none;
    font-weight: 500;
     
}
.btns{
    width: 150px;
    height: 50px;
    border-radius:30px;
    border: none;
     background-color: rgb(255, 86, 95);
     color: white;
    margin-top: 7px;
}